# Log file
*.log

# IDE
.idea/
.vscode/
.DS_Store

# Secrets
*.pem
*.key
*.env
secrets/

# Maven
*.war
*.jar
*.class
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
.terraformrc
terraform.rc

# Ansible
*.retry
.ansible/