# IDE
.idea/
.vscode/
.DS_Store

# Secrets
*.pem
*.key
*.env
.ssh/*
secrets/

# Maven
*.war
*.jar
*.class
target/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
.terraformrc
terraform.rc

# Ansible
*.retry
.ansible/